<script type="text/template" id="deck-list">
    <h1>{{ 'deck-list.content.heading'|trans }}</h1>
    <table class="table">
        <tbody>
            <% decks.forEach(function (deck) { %>
                <tr>
                    <td>
                        <a href="#/deck/learn/<%= deck.get('slug') %>" class="btn btn-default btn-xs" aria-label="Front to back">
                            <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                        </a>
                        <a href="#/deck/learn/<%= deck.get('slug') %>/back-to-front"class="btn btn-default btn-xs" aria-label="Back to front">
                            <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                        </a>

                        <%= deck.get('name') %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</script>
