# See https://help.github.com/ignore-files/ for more about ignoring files.

# environment
.vagrant

# dependencies
node_modules/
npm-debug.log*

# production
dist/

# tests
test/unit/coverage
test/e2e/reports

# editors
.idea
*.komodoproject