# configurations
/app/config/parameters.yml
/phpunit.xml
/var/*

# cache
!/var/cache
/var/cache/*
!var/cache/.gitkeep

# logs
!/var/logs
/var/logs/*
!var/logs/.gitkeep

# sessions
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

# requirements test, vendor and assets
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

# custom files
*.komodoproject
.idea
.vagrant
