{% extends 'base.html.twig' %}

{% block title %}Group - learn your cards{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            Котка
            <input type="text" class="form-control" placeholder="Как е?">
            <a href="#" class="btn btn-primary">Провери</a>
            <a href="#" class="btn btn-default">Подскажи</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@bootstrap_css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@jquery_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}