{% extends 'MoFlashCardsBundle::layout.html.twig' %}

{% block title %}Group - learn your cards{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="card-player-question">Зареждам въпросите...</div>
            <input id="card-player-answer" type="text" class="form-control">
            <a href="#" class="btn btn-default btn-primary">Подскажи</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts 
        '@jquery_js'
        '@MoFlashCardsBundle/Resources/public/js/CardPlayer.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        
    <script>
        $(document).ready(function() {
            var player = new CardPlayer();
            player.addCard('cat', 'котка');
            player.addCard('dog', 'куче');
            player.addCard('rat', 'плъх');
            player.start();
        });
    </script>
{% endblock %}
